:root{
    /* Thin Scrollbar */
    scrollbar-color: #d2d2d2 #2e3645 !important;
    scrollbar-width: thin !important;
    scroll-behavior: smooth;

    /* VAR */
    --main-color: white;
    --second-color: #f7f3ff;
    
    --cf-black: black;
    --cf-white: white; 

    --slight-color: #6c757d;

    --slight-purple:rgb(181, 146, 199);

    --orange-gradient: linear-gradient(to right, #eccb11, #e17102);
    --orange-shadow: rgba(209, 155, 37, 0.658);

    --slight-shadow: rgba(37,39,89,0.08); 
}

a {
    all: unset;
}

button{
    border: none;
}

@font-face {
    font-family: 'edo';
    src: url('font/edo.ttf');
}

@font-face {
    font-family: 'ApercuMono';
    src: url('font/ApercuMonoProRegular.ttf');
}

@font-face {
    font-family: 'Mulish';
    src: url('font/Mulish-VariableFont_wght.ttf');
}

body{
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'ApercuMono';
    background-color: var(--second-color);
}


/* GENERAL */
.cursor-pointer:hover{
    cursor: pointer;
}

.back-to-top{
    position: fixed;
    height: 35px;
    width: 35px;

    bottom: -5%;
    right: 0;
    transition: bottom 250ms ease-in-out;
    background-color: var(--main-color);
    /* border-radius: 50%; */
    z-index: 100000;
    display: grid;
    place-items: center;
}
.back-to-top img{
    height: auto;
    width: 28%;
}

.arrow-top {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;   
    
    transform: rotate(-135deg);
}


.orange-btn{
    width: auto;
    min-width: 150px;
    height: auto;
    padding: 14px 16px;
    color: white;
    border-radius: 4vh;
    text-transform: uppercase;
    
    background-image: var(--orange-gradient);
    /* box-shadow: 0 4px 15px 0 var(--orange-shadow); */
    box-shadow: 0 4px 15px 0 var(--orange-shadow);
}
.orange-btn:hover{
    box-shadow: none;
}

.purple-text-shadow{
    text-shadow: 0 4px 15px 0 var(--orange-shadow);
}

.container-skin{
    background-color: var(--main-color);
    box-shadow: 0px 10px 20px var(--slight-shadow);
    border-radius: 1vmin;
}

/* GENERAL SECTION */
section{
    height: auto;
    min-height: 600px;

    background-color: var(--second-color);
    color: var(--cf-black);

    margin: 10% 18%;
}

.section-title{
    margin-bottom: 80px;
    text-transform: uppercase; 
    text-align: center;
    font-family: 'edo';
}

@media screen and (max-width: 1090px){
    section{
        margin: 16% 2%;
    }

    .section-title{
        margin-bottom: 40px;
    }
}

