nav{
    height: 90px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0;
    padding: 5px 14%;
    color: white;
    transition: 500ms;
    font-family: 'edo';
    z-index: 100000;
}
nav.scrolled{
    background-color: var(--main-color);
}

.nav-icon-wrapper{
    display: grid;
    place-items: center;
    width: 36px;
}

.nav-icon{
    width: 36px;
    height: 36px;
}

.nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;

    height: 100%;
    
    display: flex;
}

.nav-menu li{
    padding:0 10px;
    display: grid;
    place-items: center;
}

.nav-item{
    /* font-size: small; */
    transition: 500ms;
}
.nav-item:hover{
    color: var(--slight-color);
}