/* ABOUT ME */

.about-me-grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.profile-img-wrapper{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    place-items: center;
}

.about-me-text-wrapper{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    place-items: start center;
}

.about-me-text{
    line-height: 1.7em;
    text-align: center;
}    

.about-me-img{
    border-radius: 5px;
    height: 320px;
    width: 320px;
    transform: rotate(-4deg);
    filter: hue-rotate(40deg);
    transition: 500ms;
}
.about-me-img:hover{
    transform: rotate(0);
    filter: hue-rotate(0);
}


@media screen and (max-width: 780px) {
    .about-me-grid{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .about-me-img{
        height: 260px;
        width: 260px;
    }

    .about-me-text-wrapper{
        grid-area: 2 / 1 / 3 / 2;
        margin: 5%;
    }
}