#experience{
    height: auto;
    
    display: grid;
    place-items: center;
}

.timeline-wrapper-even{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
}

.timeline-wrapper-odd{
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
}

.timeline-label{
    display: grid;
    place-items: center;
}

.bracket{
    font-size: 5em;
    vertical-align: middle;
}



.timeline{
    /* width: 50%; */
    padding: 0;
}

.timeline li{
    /* margin: 0% 2%; */
    display: grid;
    grid-template-columns: auto 1px 80%;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.guideline-wrapper{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    place-items: center;
}

.time{
    font-size: 0.8em;
    color: grey;
    grid-area: 1 / 1 / 2 / 2;
    margin: auto 0;
    margin-left: auto;
    margin-right: 18%;
}


.guideline{
    height: 100%;
    width: 1px;
    background-color: gray;
}
.guideline.start{
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 0%, grey 30%);
}
.guideline.end{
    background-color: transparent;
    background-image: linear-gradient(to top, transparent 0%, grey 30%);
}

.dot{
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: var(--orange-gradient);
    box-shadow: 0 4px 15px 0 var(--orange-shadow);
}



.event {
    display: grid;
    grid-template-rows: minmax(80px, auto) 10px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 50px;
    margin: 10% 0 10% 50px;
    grid-area: 1 / 3 / 2 / 4;

    background-color: var(--main-color);
    box-shadow: 0 8px 8px 0 var(--slight-shadow);
    border-radius: 1vmin;
}

.event-label {
    grid-area: 1 / 1 / 2 / 2;
    padding: 2%;
}
.event-label p{
   margin: 0 0;
}


.study{
    font-size: 0.9em;
}


.event-center{
    font-size: 0.8em;
    color: grey;
}

.event-line {
    grid-area: 2 / 1 / 3 / 2;
    background-image: var(--orange-gradient);
    box-shadow: 0 4px 15px 0 var(--orange-shadow);
    border-radius: 4vmin;
}

.end-content{
    display: grid;
    place-items: end;
}



@media screen and (max-width: 830px){
    .timeline-wrapper-even{
        /* display:block; */
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
    }

    .timeline-wrapper-odd{
        /* display: block; */
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
    }

    .timeline-label{
        display: none;
    }

    .event{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}