/* PORTFOLIO */

.project{
    display: grid;
    grid-column-gap: 4%;
    background-color: var(--main-color);
    box-shadow: 0px 10px 20px var(--slight-shadow);
    padding: 3%;
    border-radius: 1vmin;
    margin: 4% 0;
}
.project-even{
    grid-template-columns: 68% 28%;
}
.project-odd{
    grid-template-columns: 28% 68%;
}

.slider{
    
    /* display: flex; */
    overflow: hidden;
}
.slider img{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1vmin;
}

.details{
    
}

.project-title{
    font-family: 'Mulish';
    font-size: large;
    font-weight: bold;
    display: grid;
    place-content: center;
}

.project-summary{
    /* font */
    text-align: center;
    font-size: 0.9rem;
}

.project-tech{
    display: flex;
    height: 46px;
    gap: 20px;
}