#reception{
    background-color: var(--second-color);
    display: grid;
    place-items: center;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}

.reception-text-wrapper{
    display: grid;
    place-items: center;
}

.my-name{
    margin: 4% 0;
    font-size: 6em;
    font-family: edo;
    font-weight: bold;
    background: var(--orange-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.job-wrapper{
    display: inline-block;
}

.job{
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--cf-black);
    width: 0;
    animation: typing 6s steps(15) forwards, caret 1s infinite steps(1);
}

.tech-stack-wrapper{
    margin-top: 10%;
}

.tech-stack-label{
    display: grid;
    place-items: center;
}
.tech-stack-label img{
    height: auto;
    width: 10px;
}

.tech-stack{
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-gap: 30px;
    margin-top: 2%;
    margin-bottom: 5%;
}
.tech-stack svg{
    height: 48px;
}

@keyframes typing{
    from {
        width: 0;
    }
    33%{
        width: 100%;
    }
    to{
        width:100%;
    }
}

@keyframes caret{
    50%{
        border-color: transparent;
    }
}

.shooting-star{
    position: absolute;
    height: 1px;
    width: 1px;
    background-color: white;
    animation: shooting 5s linear infinite;
}

@keyframes shooting {
    from{
        left: -100px;
        top: 40%;
    }to{
        left: 100%;
        top: 60%;
    }
}

.planet{
    top: 140px;
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: linear-gradient(140deg,  #6253e1, #4f0b58);
}


@media screen and (max-width: 650px){
    .tech-stack{
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
    }
}

@media screen and (max-width: 550px){
    .my-name{
        font-size: 3rem;
    }
    .job{
        font-size: .8rem;
    }
}