/* SKILLS */
.skills{
    padding: 80px 10%;
    height: auto;
}

.skills-categories{
    margin: 0 9%;
}

.skills-category{
    margin: 40px 0;
    display: grid;
    grid-template-columns: 80px auto;
    grid-column-gap: 10px;
}


.skills-label{
    display: grid;
    place-items: center;
    background-image: var(--purple-gradient);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    grid-area: 1 / 1 / 2 / 2;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    
}


.skills-flex{
    display: inline-flex;
    flex-wrap: wrap;
    grid-area: 1 / 2 / 2 / 3;
    min-height: 160px;
}

.skill{

    flex: auto;
    height: 80px;
    display: grid;
    grid-template-columns: 80px 270px;
    grid-template-rows: 80px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    transition: 100ms;
    border-radius: 2vmin;
}
.skill:hover{
    background-color: var(--main-color);
}
.skill-inactive{
 
    flex: auto;
    height: 80px;
    display: grid;
    grid-template-columns: 80px 270px;
}


.img-wrapper{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    place-items: center;

}
.img-wrapper svg{
    height: 56px;
    width: auto;
}

.img-wrapper img{
    height: 56px;
    width: auto;
}


.skill label{
    font-family: 'Mulish', sans-serif;
    font-size: 1.4em;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    place-items: center start;
}




/*.mysql-skill:hover #mysql path{
    fill: #00618A;
}
#mysql path{
    fill: white;
}*/


.github-skill:hover{
    background-color: white;
    color: black;
}
.github-skill:hover #github g{
    fill: black;
}

#github g{
    fill: white;
}

